.productDetails {
    background-color: rgb(214, 214, 214);
    width: 100vw;
    max-width: 100%;
    padding: 6vmax;
    box-sizing: border-box;
    display: flex;
    /* justify-content: space-between; */
}

.productDetails > div {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 2vmax;
    border: 1px solid white;
}

.productDetails > div:last-child {
    align-items: flex-start;
}

.CarouselImage {
    width: 20vmax;
}
.detailsBlock-1 > h2 {
    color: rgb(54, 54, 54);
    font: 500 1.6vmax "Roboto";
}

.detailsBlock-1 > p {
    color: rgba(54, 54, 54, 0.583);
    font : 200 0.8vmax cursive;
}

.detailsBlock-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top:  1px solid rgba(0, 0, 0, 0.207);
    border-bottom:  1px solid rgba(0, 0, 0, 0.207);
    width: 70%;
    padding: 1vmax 0;
}

.detailsBlock-2 > span{
    color: rgba(54, 54, 54, 0.583);
    font : 200 0.8vmax cursive;
}

.detailsBlock-3 {
    width: 70%;
}

.detailsBlock-3 > h1 {
    color: rgba( 17, 17, 17, 0.795);
    font : 400 1.8vmax "Franklin Gothic Medium";
    margin: 1vmax 0;
}
.detailsBlock-3 > p {
    padding: 1vmax 0;
    border-top:  1px solid rgba(0, 0, 0, 0.207);
    border-bottom:  1px solid rgba(0, 0, 0, 0.207);
    color: rgba(0, 0, 0, 0.651);
    margin: 1vmax 0;
}

.detailsBlock-3-1 {
    display: flex;
    align-items: center;
}

.detailsBlock-3-1 > button:last-child
{
    border: none;
    cursor: pointer;
    color : white;
    background-color: tomato;
    font : 500 0.7vmax "Roboto";
    transition: all 0.5s;
    padding: 0.5vmax 2vmax;
    margin: 1vmax;
    outline: none;
    border-radius: 8px;
    width: 14vmax;
}


.detailsBlock-3-1 > button:last-child:hover 
{
    background-color: rgb(214, 84, 61);
}

.detailsBlock-3-1-1 {
    display: flex;
}

.detailsBlock-3-1-1 > button{
    border: none;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 0.5vmax;
    color: white;
    transition: all 0.5s;
}

.detailsBlock-3-1-1 > button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 777);
}

.detailsBlock-3-1-1 > input {
    border : none;
    padding: 0.38vmax;
    outline: none;
    font : 400 0.8vmax "Roboto";
    color: rgba(0, 0, 0, 0.74);
    width: 1vmax;
    text-align: center;
}

.detailsBlock-4 {
    color: rgba(0, 0, 0, 0.897);
    font : 500 1.2vmax sans-serif;
}

.detailsBlock-4 > p {
    color : rgba(0, 0, 0, 0.546);
    font : 300 0.8vmax sans-serif;
}

.submitReview {
    border: none;
    cursor: pointer;
    color : white;
    background-color: tomato;
    font : 500 0.7vmax "Roboto";
    transition: all 0.5s;
    padding: 0.5vmax 2vmax;
    outline: none;
    border-radius: 8px;
    margin : 1vmax 0;
}

.submitReview:hover {
    background-color: rgba(214, 84, 62, 0.776);
    transform: scale(1.1);
}

@media screen and (max-width : 600px){
    .productDetails {
        flex-direction: column;
        height: unset;
    }
    .productDetails > div
    {
        width: auto;
    }

    .productDetails > div:last-child {
        align-items: center;
    }

    .detailsBlock-1 > h2 {
        font-size: 2.8vmax;
        text-align: center;
    }
    .detailsBlock-1 > p {
        text-align: center;
        font-size: 1vmax;
    }

    .detailsBlock-2 {
        justify-self: center;
    }

    .detailsBlock-2 > span {
        font-size: 1.5vmax;
    }

    .detailsBlock-3 > h1 {
        font: 700 3vmax "Franklin Gothic Medium";
        text-align: center;
    }

    .detailsBlock-3-1 
    {
        flex-direction: column;
    }

    .detailsBlock-3-1-1 {
        padding: 2vmax 0;
    }

    .detailsBlock-3-1-1 > button {
        padding: 1.2vmax;
        width: 4vmax;
    }

    .detailsBlock-3-1-1 > input {
        padding: 1.3vmax;
        width: 4vmax;
        font : 400 1.8vmax "Roboto";
    }

    .detailsBlock-3-1 > button:last-child {
        font : 500 1.7vmax "Roboto";
        padding: 1.5 vmax;
        width: 20vmax;
        margin: 3vmax 0;
    }

    .detailsBlock-3 > p {
        padding: 2.5vmax;
        text-align: center;
        font : 400 2vmax "Roboto";
    }

    .detailsBlock-4 {
        font : 500 2.5vmax sans-serif;
    }

    .detailsBlock-4 > p {
        font : 300 1.8vmax sans-serif;
    }
    
    .submitReview {
        font : 500 1.7vmax "Roboto";
        padding: 0.5vmax;
        width: 20vmax;
        margin: 3vmax 0;
    }
}